.feed-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0 0 0;
}

.feed{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feed-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 45px 0;
}

.feed-title-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vacancies-feed{
    min-height: 250px;
}

.articles-feed{
    min-height: 250px;
}

.articles-content-settings, .vacancies-content-settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}


.not-main{
    color: #B3B3B3;
}

.advisory{
    display: none;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 40px;
}

.advisory-block{
    background-color: rgb(0, 0, 0, 0.05);
    width: 25vw;
    padding: 15px 15px 20px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.3);
}

.advisory-block h4{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.advisory-block h4:not(:first-child){
    padding-top: 15px;
}

.ad-vacancy, .ad-article{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ad-vacancy .vacancy-name{
    color: black;
    margin-bottom: 10px;
}

.ad-vacancy-info, .ad-article-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ad-vacancy-info .vacancy-company{
    color: #D5444C;
}

.vacancy-employer, .vacancy-—Åount, .article-author, .article-count{
    color: black;
}

.ad-article-title{
    color: black;
    margin-bottom: 10px;
}

.button-favourite{
    background-color: transparent !important;
    border: none !important;
    color: #B3B3B3;
    border-radius: 5px;
    border: none;
    padding: 7px 0px !important;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
}

.button-favourite:hover{
    color:#D5444C;
}

.button-favourite::before{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    content: ' ';
    margin-right: 10px;
    background-image: url('/img/star.svg');
    height: 20px;
    width: 20px;
}
.button-favourite:hover::before{
    background-image: url('/img/star-hover.svg');
}

.card-text{
    margin-top: 25px;
    margin-bottom: 25px;
}

.vacancy-info-block{
    margin-bottom: 25px;
}

.vacancy-info-block h5{
    font-weight: 700;
    margin-bottom: 10px;
}

.vacancy-info-list{
    /* padding-left: 18px; */
    line-height: 25px;
    list-style: none;
}

.vacancy-info-list li{
    display: flex;
    flex-direction: row;
}

.vacancy-info-list li p{
    margin-right: 10px;
    color: black;
}

.vacancy-info-list li a{
    color: black;
}

.vacancy-info-list li a:hover{
    color: #D5444C;
}

.vacancy-info-list li:not(:last-child){
    margin-bottom: 10px;
}

.vacancy-info-block p{
    line-height: 25px;
}

.vacancy-title{
    margin-bottom: 25px;
}

.edit-block{
    margin-bottom: 10px;
}



.filter, .sort{
    display: flex;
    flex-direction: row;
    /* font-weight: 600; */
    /* font-size: 14px; */
    line-height: 17px;
    /* color: #6F6E6E; */
    /* position: absolute; */
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 99;
    background-color: transparent;
    padding-bottom: 18px;
    /* margin-right: 288.67px; */
    padding: 13px 0 16px 0;
}

.filter_block, .sort_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-title{
    font-size: 14px;
    line-height: 17px;
    padding: 11px;
    padding-bottom: 11px;
    border-left: 2px solid #FBECED;
    margin-left: 5px;
    margin-bottom: 10px;
}


.filter-title:hover{
    color: black;
    border-left: 2px solid #D5444C;
    cursor: pointer;
}

.filter-part{
    margin-top: 10px;
    border-bottom: 1px solid #EBEBEB;
    /* position: absolute; */
}

.sort-part{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 11px 21px 11px;
    border-bottom: 1px solid #EBEBEB;
}

.sort-part:first-child{
    padding: 0 11px 10px 11px;
}

.sort-label{
    font-size: 14px;
    padding: 11px 0;
}

.filter_box, .sort_box{
    position: absolute;
    background-color: white;
    width: 300px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 10px;
    border-radius: 5px;
}

.filter_list{
    list-style: none;
    margin-top: 20px;
    /* margin: 20px 0; */
    padding: 0 0 20px 11px;
    border-bottom: 1px solid #EBEBEB;
}

.filter-error{
    margin-top: 20px;
    padding: 0 0 20px 11px;
    font-size: 14px;
}

.filter_item:not(:last-child){
    margin-bottom: 10px;
}

.filter_link{
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

summary {
  display: block;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox label{
    padding-left: 10px;
    color: black;
    font-size: 14px;
}

.filter-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}

.filter-buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.article-photo{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.pagination{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #D5444C !important;
    color: #FFF !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: #FFF !important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
     color: #D5444C !important;
}

.post-button{
    border: none;
    background-color: transparent;
    outline: none;
}

.post-button:hover{
    cursor: pointer;
}

.post-button:hover .likes svg path{
    fill: #D5444C;
    fill-opacity: 1;
}

.post-button:hover .bookmarks svg path{
    fill: #D5444C;
    fill-opacity: 1;
}

.post-button:hover span{
    color: #D5444C;
}

.post-button-active .likes span{
    color: #D5444C;
}


.post-button-active .bookmarks span{
    color: #D5444C;
}

.back-to{
    margin-top: 30px;
}

.page-error{
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.source-link{
    color: rgba(0, 0, 0, 0.3);
}