* {
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

h1{
    color: black;
    font-size: 30px;
}

h2{
    color: black;
    font-size: 25px;
}

input:focus{
    border-color: #DCDFE6 !important;
}

.link{
    text-decoration: none;
    color: #D5444C;
    position: relative;
    padding-bottom: 0;
}

.link:hover{
    color: #d5444bc5;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1366px;
    /* min-width: 100%; */
    /* min-width: 1366px; */
    margin: 0 3vw;
}

.header{
    background-color: rgb(0, 0, 0);
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    flex-direction: row;
}

.menu-item{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 15px;
}

.menu-item:last-child{
    padding-right: 0px;
}

.menu-link{
    color: rgb(255, 255, 255);
    padding: 4px 10px;
    position: relative;
}

.menu-link:hover{
    color: rgb(255, 255, 255, 0.7);
}

/* .menu-link:hover::before{
    position:absolute;
    bottom:0;
    left: 25%;
    width:50%;
    content:"";
    border-bottom: 1px solid rgb(255, 255, 255, 0.7);
} */

.menu-link-auth, .button-menu-link-auth{
    background-color: white !important;
    border: none !important;
    color: black !important;
    border-radius: 3px;
    padding: 7px 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-menu-link-auth{
    height: 31px;
}

.menu-link-auth:hover, .button-menu-link-auth:hover{
    background-color: #D5444C !important;
    color: white !important;
}

.menu-link-auth:hover::before{
    border-bottom: none !important;
}

.button-exit{
    margin-left: 40px !important;
}

.footer{
    background-color: black;
    padding: 10px 0;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contacts-info{
    display: flex;
    flex-direction: column;
}

.footer-contacts-title, .address p, .phone p, .email p{
    color: white;
    font-size: 15px;
}

.address, .phone, .email{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address, .phone{
    padding-bottom: 10px;
}

.address img, .phone img, .email img{
    height: 15px;
    width: 15px;
    margin-right: 20px;
}

.footer-menu-list{
    display: flex;
    flex-direction: column;
}

.footer-menu-item{
    list-style: none;
    padding: 0 0 10px 0;
}

.footer-menu-item:last-child{
    padding: 0;
}

.footer-menu-link{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 4px 10px;
}

.footer-menu-link:hover{
    color: rgb(255, 255, 255, 0.7);
}

.copyright{
    color: white;
    font-size: 15px;
    margin-top: 15px;
}

.main-content{
    flex-grow: 1;
    /* background-image: url(/img/main-cover-new.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%; */
}

.content{
    display: flex;
    flex-direction: column;
    /* min-height: 40vh; */
}

.banner{
    /* background-image: url(/img/main-cover-new.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    height: 39vw;
    display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}

.banner img{
    width: 100%;
}

.banner h1{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.content-nav{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin: 30px 0 30px 0;
    justify-content: space-between;
}

.content-title{
    display: flex;
    flex-direction: row;
}

.content-title a, .content-title h1{
    color: black;
    font-size: 30px;
}

.content-title a:first-child{
    margin-right: 30px;
}

/* .content-title a:last-child::before{
    content: "/";
    color: rgba(0, 0, 0, 0.3);
    padding: 0 30px;  
} */

.not-active-title{
    color: rgba(0, 0, 0, 0.3) !important;
}

.not-active-title:hover{
    color: black !important;
}

.content-settings{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-settings-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .filter, .sort{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
} */

.filter, .sort{
    color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
}

.sort{
    margin-left: 30px;
}

.filter-main, .sort-main{
    color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
    position: relative;
}

.sort-main{
    margin-left: 30px;
}

.filter_box_main, .sort_box_main{
    position: absolute;
    right: 0;
    background-color: white;
    width: 300px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 10px;
    border-radius: 5px;
    z-index: 99;
}

.filter_block:hover, .sort_block:hover{
    color: rgba(0, 0, 0);
    cursor: pointer;
}

.filter_block::before{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    content: " ";
    margin-right: 5px;
    background-image: url(/img/filter.svg);
    height: 15px;
    width: 15px;
}

.filter_block:hover::before{
    background-image: url(/img/filter-hover.svg);
}

.sort_block::before{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    content: " ";
    margin-right: 5px;
    background-image: url(/img/sort.svg);
    height: 15px;
    width: 15px;
}

.sort_block:hover::before{
    background-image: url(/img/sort-hover.svg);
}

.daily-news{
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-bottom: 40px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-bottom: 40px;
}

.news-info{
    position: absolute;
    bottom: 0;
    z-index: 99;
    padding: 0 30px 20px 30px;
}
.news-data p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.news-title p{
    color: white;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.news-row{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.news-block{
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    height: 350px;
}

.news-block img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: 1s;
}

.news-block:hover img{
    transform: scale(1.1);
}

.gradient {
	display: inline-block;
	position: relative;    
    line-height: 0;
    width: 100%;
}

.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0) 90%);
	opacity: 0.9;
}

.auth {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.auth-content {
    /* background: var(--body-background-color); */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    box-shadow: -2px -5px 20px #FFFFFF, 0px 7px 20px rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization {
    width: 50vw;
    height: 100%;
}

.registration {
    width: 50em;
    height: 100%;
}

.auth-header{
    font-size: 30px;
    margin-bottom: 10px;
}

.auth-buttons{
    margin-top: 13px;
    align-items: center;
}

.reg-buttons{
    margin-top: 30px;
    align-items: center;
}

.button-auth{
    background-color: #D5444C !important;
    border: none !important;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px !important;
    cursor: pointer;
}

.button-auth:hover{
    background-color: #d5444bc5 !important; 
    color: white;
    border-radius: 5px;
}

.button-main{
    background-color: #D5444C !important;
    border: none !important;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px !important;
    cursor: pointer;
    outline: none;
}

.button-not-main{
    background-color: transparent !important;
    border: none !important;
    color: #D5444C ;
    border-radius: 5px;
    border: none;
    padding: 7px 0px !important;
    cursor: pointer;
    outline: none;
}

.button-not-main:hover{
    color: #d5444bc5 !important; 
    border-radius: 5px;
}

.button-main:hover{
    background-color: #d5444bc5 !important; 
    color: white;
    border-radius: 5px;
}

.mini-hover:hover{
    color: #D5444C;
    cursor: pointer;
}

.el-form-item{
    margin-bottom: 0 !important;
    /* width: 100%; */
}

.el-form-item__content{
    display: flex;
    flex-direction: column;
}

.required-label, .label{
    margin-top: 10px;
}

.required-label::before {
    content: '*';
    color: #D5444C;
    margin-right: 4px;
}

.row-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.row-form .el-form-item__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 10px 0px; */
    border-bottom: 1px solid #DCDFE6;
    position: relative;
}

.last-child .el-form-item__content{
    border-bottom: none !important;
}

.form-text{
    padding-left: 20px;
}

.row-label{
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 160px;
    padding: 10px 0px;
    border-right: 1px solid #DCDFE6;
}

.auth-input input{
    width: 100%;
    font-size: 15px;
    padding: 4px 10px;
    outline: none;
    background-color: white;
    /* margin: 5px 0 10px 0; */
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: transparent;
    box-sizing: border-box;
}

.remember-me{
    margin-top: 10px;
}

.el-checkbox__label{
    margin-left: 10px;
}

.el-form{
    width: 100%;
}

.admin{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;  
}

.admin-background{
    background-color: black;
}

.admin-content{
    display: flex;
    flex-direction: column;
    padding: 35px 10px 0 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 100%;
    /* max-height: 85vh; */
}

.admin-main-page{
    background-image: url(/img/logo.jpg);
    background-size: 50%;
    background-position: right -10% center;
    background-repeat: no-repeat;
    /* position: relative;
    overflow: hidden; */
}

/* .admin-background{
    position: absolute;
    overflow: hidden;
} */

.admin-content-edit{
    padding: 40px 20px 20px 20px !important;
}

.admin-content-top{
    padding-left: 10px;
    margin-bottom: 20px;
}

.admin-content-edit .admin-content-top{
    padding-left: 0px;
}

/* .admin-content-main{
    max-height: 90vh !important;
} */

.el-table{
    max-height: 90vh !important;
}

.el-table__body-wrapper{
    max-height: 70vh !important;
}

.logo-admin img{
    height: 32px;
    margin: 5px 0;
}

.logo-admin{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-admin p{
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 57px;
}

.sidemenu{
    display: flex;
    min-width: 150px;
    box-shadow: 7px 0px 7px 0px rgba(0,0,0,0.2);
}

.sidemenu-list{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    position: fixed;
    max-width: 150px;
}

.sidemenu-list .menu-item{
    color: white;
    padding: 0 0;
}

.sidemenu-list .menu-link{
    color: white;
    padding: 10px 20px 10px 0;
    max-width: 150px;
}

.sidemenu-list .menu-link:hover{
    color: rgb(255, 255, 255, 0.7);
}

.sidemenu-list .menu-link:hover::before{
    border-bottom: none;
}
/* 
table{
    width: 100%;
    height: ;
} */

.operation-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-row{
    display: flex;
    justify-content: space-between;
}

.button-admin{
    padding: 5px !important;
    width: 83px;
}

.button-admin span{
    font-size: 15px;
}

.button-view{
    width: 100%;
    margin-bottom: 5px !important;
}

.button-change:hover, .button-change:focus{
    border: 1px solid #d5444bc5  !important;
    color:  #d5444bc5 !important;
    background-color: transparent !important;
}

.button-delete, .button-save{
    background-color: #D5444C !important;
    border: #D5444C !important;
}

.button-delete:hover, .button-save:hover, .button-delete:focus, .button-save:focus {
    background-color: #d5444bc5 !important;
    border: #d5444bc5 !important;
}

.button-save{
    width: 200px;
}

.one-button-row .el-form-item__content{
    align-items: center;
    margin-top: 20px;
}

.button-personal {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

.link-admin{
    color: #606266;
    cursor: pointer;
}

.link-admin:hover{
    color:#D5444C
}

.big-loading{
    display: flex;
    justify-content: center;
}

.loading{
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 100px;
}

.mini_loading{
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
}

.welcome-title{
    margin-top: 40px;
}

.admin-list{
    display: flex;
    flex-direction: column;
}

.admin-list-item{
    list-style: none;
}


.input-search{
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius:0px 5px 5px 0px;
    outline: none;
    background-color: #FBECED;
    color: #D5444C;
    font-size: 16px;
    /* -webkit-appearance:textfield; */
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    width: 25vw;
}

input::-webkit-input-placeholder {
    vertical-align: middle;
    color: #D5444C;
}

.search-button{
    top:0;
    right:0px;
    padding: 5px;
    height:30px;
    border:none;
    background-color: #FBECED;
    border-radius:5px 0px 0px 5px;
    outline:none;
    cursor: pointer;
    margin-left: 20px;
}

.pink{
    color:#D5444C;
}

.news-main{
    display: flex;
    flex-direction: column;
    /* margin-top: 35px; */
    margin-bottom: 40px;
}

.news-main img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 20px;
}

.news-main-date{
    margin-top: 30px;
    color:rgb(0, 0, 0, 0.3);
}

.news-main-title{
    margin-top: 20px;
    margin-bottom: 30px;
}

.news-main-text{
    margin-bottom: 15px;
    text-align: justify;
}

.news_ratings{
    margin-bottom: 15px;
}